*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	overflow-x: hidden;
	height: 100%;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
	text-wrap: pretty;
	text-decoration-skip-ink: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color-scheme: light dark;
	line-height: 1.4;
}

body {
	width: 100%;
	height: 100svh;
	min-width: 320px;
	font-size: 0.87rem;
	font-weight: 400;
	overflow: hidden;
	position: relative;
	font-family: "Lato", "Inter", "Arial", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.wrapper {
	height: 100svh;
	margin: 0 auto;
	overflow: hidden auto;
}

.wrapper :is(a, .icon, button) {
	cursor: pointer;
}

.wrapper .icon {
	display: grid;
	place-items: center;
	will-change: filter;
	transition: filter 300ms;
}

.wrapper :is(a:hover, svg:hover) {
	transition: color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.wrapper :where(button) {
	transition: border-color 0.25s;
	outline: none;
}

.wrapper :where(img) {
	border-radius: inherit;
}

.wrapper :where(ul li) {
	list-style-type: none;
}

.wrapper .logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

/* for input number type */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input:-internal-autofill-selected {
	appearance: menulist-button;
	background-image: none !important;
	background: none !important;
	color: fieldtext !important;
}

#main-container::-webkit-scrollbar {
	background: var(--scroll-thumb);
	border-radius: 999px;
}

::-webkit-scrollbar {
	width: 2px;
	height: 100%;
}

.wrapper ::-webkit-scrollbar-track {
	background: var(--scroll-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb);
	border-radius: 999px;
}

@media (prefers-color-scheme: light) {
	/* :root {
		
	} */
}
